<tr>
  <td><%= check_box_tag 'task_ids[]', "#{task.id}", false, id: "task_#{task.id}" %></td>
  <td><%= link_to task.title, task %></td>
  <td><%= link_to 'edit', edit_task_path(task) %></td>
  <td><%= link_to 'delete', task, method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'delete_task'  %></td>
  <td><%= link_to task_completed_link_text(task), completed_task_path(task), remote: true, class: 'completed' %></td>
</tr>