<div class="show-task">
  <h1><%= @task.title %></h1>
  <div class="col-sm-12">
    <dl>
      <dt class="col-xs-2 text-right">Title:</dt>
      <dd class="col-xs-10"><%= @task.title %></dd>
      <dt class="col-xs-2 text-right">Priority:</dt>
      <dd class="col-xs-10"><%= @task.priority %></dd>
      <dt class="col-xs-2 text-right">Due date:</dt>
      <dd class="col-xs-10"><%= @task.due_date.present? ? @task.due_date : '-' %></dd>
      <dt class="col-xs-2 text-right">Description:</dt>
      <dd class="col-xs-10"><%= @task.description %></dd>
    </dl>
  </div>
</div>

